<div class="card">
  <div class="commit-bar">
    <div class="left">
      <img src="assets/avatar.jpg" alt="ronco101" class="avatar" />
      <span class="username">Ron Cohen</span>
      <span class="message">Drank tea</span>
      <span class="status material-icons">check_circle</span>
    </div>
    <div class="right">
      <span class="timestamp">6 hours ago</span>
    </div>
  </div>

  <div class="file-row header">
    <div class="file-name">Name</div>
    <div class="commit">Message</div>
    <div class="timestamp">Updated?</div>
  </div>

  <div class="file-row">
    <div class="file-name"><span class="material-icons">menu_book</span><a href="index.html">about.html</a></div>
    <div class="commit">Read about me!</div>
    <div class="timestamp">Almost</div>
  </div>

  <div class="file-row">
    <div class="file-name"><span class="material-icons">handyman</span><a href="projects.html">projects.html</a></div>
    <div class="commit">Cool stuff</div>
    <div class="timestamp">Everyday</div>
  </div>

  <div class="file-row">
    <div class="file-name"><span class="material-icons">folder</span><a href="blog.html">blog</a></div>
    <div class="commit">Update blog.html</div>
    <div class="timestamp">Coming Soon</div>
  </div>

  <div class="file-row">
    <div class="file-name"><span class="material-icons">rss_feed</span><a href="contact.html">contact.html</a></div>
    <div class="commit">Business only</div>
    <div class="timestamp">Hopefully not</div>
  </div>
</div>
