<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home | Ron Cohen</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="assets/htmx.min.js"></script>
    <style>
      .social-link {
	  display: inline-flex;
	  align-items: center;
	  color: #ffffff;
	  transition: color 0.2s ease;
	  text-decoration: none;
      }

      .social-link:hover {
          color: #6a0ee3;
      }
    </style>
  </head>

  <body>
    <div class=main-container>
      <div hx-get="partials/topbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
      <div hx-get="partials/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    
    <div class="container">

      <div hx-get="partials/container.html" hx-swap="outerHTML" hx-trigger="load"></div>
      
      <div class="readme-card">
	<div class="readme-tab">
	  <span class="material-icons">menu_book</span>
	  <span>README</span>
	  <div class="readme-underline"></div>
	</div>
	
	<div class="readme-body">
	  <h2>Contact Information</h2>
	  <hr />
	  <p>
	    The best place to reach me is 
	    <a href="https://www.linkedin.com/in/roncohen408/" class="social-link" target="_blank" aria-label="LinkedIn" style="display: inline-block;">
	    LinkedIn (Click here!)</a>
	  </p>
	</div>
	
      </div>
    </div>
    
    <div hx-get="partials/footer.html" hx-swap="outerHTML" hx-trigger="load"></div>
    
  </body>
</html>
