<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home | Ron Cohen</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="assets/htmx.min.js"></script>
  </head>

  <body>
    <div class=main-container>
      <div hx-get="partials/topbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
      <div hx-get="partials/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
    </div>
    
    <div class="container">

      <div hx-get="partials/container.html" hx-swap="outerHTML" hx-trigger="load"></div>
      
      <div class="readme-card">
	<div class="readme-tab">
	  <span class="material-icons">menu_book</span>
	  <span>README</span>
	  <div class="readme-underline"></div>
	</div>
	
	<div class="readme-body">
	  <h2>About Me</h2>
	  <hr />
	  <p>Hi, I'm Ron Cohen! This is where I showcase all of my personal projects and school projects. I graduated from Rutgers University with a BS in Computer Science in 2025. I am currently internting at Ferrari. Yes, the car company. No, I do not get to drive the cars and no, I do not have a discount. If you to read about my projects, what's happening in the world of tech, and how I managed to switch to Linux you should read my blog. I'm not asking anymore, read it right now. My contact information is in the Contact tab, that's where my email and socials are located. I hope you have a wonderful day!</p>
	  <p>Remember to drink some tea and relax. Can't be stressed everyday of the week.</p>
	</div>
	
      </div>
    </div>
    
    <div hx-get="partials/footer.html" hx-swap="outerHTML" hx-trigger="load"></div>
    
  </body>
</html>
