<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Home | Ron Cohen</title>
		<link rel="stylesheet" href="/style.css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="/assets/htmx.min.js"></script>
		<style>
.social-link {
	display: inline-block;
	align-items: center;
	color: #ffffff;
	transition: color 0.2s ease;
	text-decoration: none;
}

			.social-link:hover {
				color: #6a0ee3;
			}
		</style>
	</head>
	<body>
		<div class=main-container>
			<div hx-get="/partials/topbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
			<div hx-get="/partials/navbar.html" hx-swap="outerHTML" hx-trigger="load"></div>
		</div>

		<div class="container">
			<div class="readme-card">
				<div class="readme-tab">
					<span class="material-icons">menu_book</span>

					<span>IH8AI</span>
					<div class="readme-underline"></div>
				</div>

				<div class="readme-body">
					<h2>AI Is Ruining Your Mind</h2>
					<hr />

					<p>
					It feels kinda weird for me to say this, but I am a professional in the field now. Woooo. Just ignore the part of my
					title that says "Intern"&mdash;Just ignore it. K thanks. Anyway, after working for almost 4 months now, I can confidently
					tell you that AI not there yet. I'm not going to pretend I never use AI, sometimes I need to look at a reference if
					I can't find one. Or maybe I need to get some foundational work out of the way quickly and I know exactly how I need
					it structured. Nine times out of ten, I would just do it myself because I don't trust AI enough to do it correctly.
					This isn't me knocking anyone for using AI, everyone has the choice to use or avoid it. This is more about how I
					believe AI is still incompetent and it is nowhere near as intelligent as these AI shills would let you let you believe.
					I'm not sitting here using every day, so some of my claims might be wrong and I am very open to criticism and corrections.
					But something I strongly believe in is that if you're scared that AI is going to replace you, you have already been
					replaced. Also shout-out to that accounting student that looked me dead in the eyes and told me my field was going to
					be replaced but his field couldn't be replace by AI.
					</p>

					<h3>It's All About Money</h3>

					<p>
					I'm going to try and keep this portion semi-brief because I believe the title is sufficient to my point. Most people
					you see on LinkedIn talking about how smart AI is and how you can do the work of many or become an engineer in a matter of
					days are exaggerating. AI is still an remarkable feat that we made, but it doesn't change the fact it was never good enough
					to do the work of a senior engineer, let a lone a JUNIOR engineer. They mostly have some stake in an AI company or ChatGPT
					wrapper. I'm not saying the last point as an insult, people are still making ChatGPT wrappers. Many of these people just
					want someone to invest or subscribe to their service. The same can be said for any platform you go on. There are people
					who are just wowed by AI and everything it can do, it's very impressive how fast it progressed. I just wish data centers
					weren't consuming all the water and power. This is not a joke, the electric bill went up in my area. When you are browsing
					the any social media platform, just be diligent. A lot of these people promoting AI are equivalent to snake oil salesmen.
					I will not name this person for very obvious reasons, but someone I just so happen to be following started an AI company.
					What's their product? I couldn't tell you and that's not important. What's important is their credentials&mdash;The ones they 
					do not have. They worked at three different internships for three months and they changed the title of their positions to
					something that I'm pretty sure are not real. It's either that or they were fired which is much worse. So be careful when
					you see someone promoting AI.
					</p>

					<h3>AI Cannot And Will Not Replace You</h3>

					<p>
					This is something strange that I see people believing. AI is going to replace me? Me? The data engineer? That's a load of
					baloney. I have enough faith in myself to debug or solve a problem without AI. If you feel like this is hard&mdash;that being
					coding or any sort of problem solving without AI&mdash;then this is the time to learn. People are still struggling to find
					jobs not because AI is replacing people, but they just rely on what school teaches them. You haven't been replace by AI,
					you're in a very competitive field. I know there are more reasons behind the difficulty to the job search, but I'm not
					going to blame something as inept as AI for denying me any job.
					<a href="https://www.resumebuilder.com/7-in-10-companies-will-use-ai-in-the-hiring-process-in-2025-despite-most-saying-its-biased/"
						 class="social-link" target="_blank">
						Though, it might not replace you, but it could block you.
					</a>
					Ignoring this completely dystopian fact, AI is as smart as the user. It does not take months to become an engineer, it takes
					years. Just because I can ask an AI chatbot for legal advice doesn't make me a lawyer. Just because AI can spit out the
					<a href="https://www.youtube.com/watch?v=AG_791Y-vs4" class="social-link" target="_blank">
						same garbage website with that really nice gradient of purple
					</a>
					doesn't make you a web-dev. You cannot suddenly take my role with zero knowledge of the field. This goes for anything&mdash;except
					for accounting. I don't actually believe that, but if anything is going to be replace first, it would be accountants. Kidding
					aside, you are going to need to make yourself stand out. There are so many free resources, you just need to look. If you're
					not interested in reading up in tech you want to learn, as the kids say, tuff. Don't shoot yourself in the foot, start learning
					on your own and make projects. This is how I ended up as a data engineer. I am going to reiterate, if you feel like you're going
					to be replace by AI, you have already been replace. Either get good or stay in debt. Or if you're self taught, good luck.
					</p>

					<h3>if ChatGPT != TikTok: continue</h3>

					<p>
					I was snickering like a child when I created that title. I strongly believe those two are the same thing, now more than ever
					because of Sora. But I am talking about how TikTok keeps feeding your brain garbage so your can hit that dopamine rush,
					instant gratification. This is the same thing that AI does. Why do you need to learn anything when the answers are right there?
					Why do you need to struggle with any problem when you can get your solution instantly? Do you want to be known as the person
					who needs to consult ChatGPT after every question? Lose all sense of critical thinking and independence because you are too
					afraid of thinking for yourself? Hell no. Don't rely on the garbage AI spews out. While it can be helpful in some cases, it's
					going to be more harmful than good. I have seen so many of my classmates fall into this trap where they use AI for everything,
					I've almost done the same thing. This isn't the yellow brick road that takes you to home, this isn't even a path! You're just
					trying to break through a brick wall with your bare hands. Having a degree is not enough. In some cases, you don't even need one,
					but you need to be "cracked" as they say. So many of my peers share no passion like I, only when I graduated and started working
					I was finally appreciated for my abilities and knowledge. It's depressing to think about. I'm not standing here pretending I
					am above anyone for being overly passionate about programming, most people I met never had that drive. Some people just paid
					for ChatGPT and cheated through their entire degree without actually learning anything worthwhile and wondering why they can't
					land a job. Don't be like this 
					<a href="https://www.reddit.com/r/rutgers/comments/sn6dd6/cheated_my_way_through_a_cs_degree/" class="social-link" target="_blank">
						loser
					</a>
					from my college. There are many people who are like this by the way, not just at Rutgers. This could honestly be a world
					wide issue where people would just take the easy way out to fuck themselves over in the long run because why not? Using AI to sidestep
					your degree, education, experiences will make you a dull and unwanted person. I'm not even talking about money because it's already
					so stressful. People spend money on AI to get themselves through college to get a degree most people need to pay for? Please explain
					to me how that makes any sense. Depriving yourself of any challenge and motivation just to pay for an AI? To get in debt? To not
					find a job? I'll stick with google and documentation.
					</p>

				</div>

			</div>

		</div>

		<div hx-get="/partials/footer.html" hx-swap="outerHTML" hx-trigger="load"></div>
	</body>
</html>
